<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>STARBOOKS</title>
</head>
<body class="container-fluid">
<h1>STARBOOKS</h1>
<h2>Order Details</h2>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <br/>
</div>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${orderItems}" th:object="${item}">
        <td th:text="*{productId}"></td>
        <td th:text="*{category}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{quantity}"></td>
    </tr>
    </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <form th:action="@{/orders}" method="get">
        <button class="w-100 btn btn-secondary btn-lg">Back</button>
    </form>
</div>
</body>
</html>